@inject IJSRuntime js

<h3>FrmChild</h3>

부모에서 전달된 값: @FromParent

<input type="button" value="자식에서 호출" @onclick="btnChild_Click" />
<input type="button" value="1페이지" onclick="@(() => PagerButtonClicked(1))" />
@code {
    [Parameter] 
    public int FromParent { get; set; }

    [Parameter]
    public Action OnParentCall { get; set; }

    [Parameter]
    public Action<int> PageIndexChanged { get; set; }

    protected void btnChild_Click()
    {
        js.InvokeAsync<object>("alert", "btnChild_Click호출됨");
        OnParentCall?.Invoke(); // 부모에서 전송된 메서드 호출
    }

    protected void PagerButtonClicked(int pageNumber)
    {
        PageIndexChanged?.Invoke(pageNumber - 1);
    }
}

