@page "/Videos/FrmDbContextTest"

@using VideoAppCore.Models

@inject IVideoRepositoryAsync repository

<h3>FrmDbContextTest</h3>

@if (videos == null)
{
    <text>...</text>
}
else
{
    <ul>
        @foreach (var video in videos)
        {
            <li>@video.Id - @video.Title</li>
        }
    </ul>
    
}


@code {
    List<Video> videos;

    protected override async Task OnInitializedAsync()
    {
        videos = await repository.GetVideosAsync();
    }

}
